.row
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont
{
    background-color:#343A40;
    padding: 48px;
}
h5
{
    color: antiquewhite;
}
.d-block 
{
    font-size: larger;
    color: antiquewhite;
    margin-right: 50px;
}
.col-12
{
    margin-right: 70px;
}
.hello
{
    margin-left: 50px;
  
}
.lead
{
    font-weight: 400;
}